.game21Page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  .gameContent {
    background-color: rgb(0, 38, 255);
    padding: 20px;
    border: 5px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    position: relative;
    .game21addNumbers {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
    }
    .selectLevel {
      position: absolute;
      top: 2px;
      right: 3px;
    }
    .thinkingSmile {
      position: absolute;
      width: 80px;
      height: 80px;
      left: 15px;
      top: 10px;
      animation: thinkSmile infinite 1s ease-in-out;

      @keyframes thinkSmile {
        0% {
          transform: rotate(10deg);
        }
        50% {
          transform: rotate(-10deg);
        }
        100% {
          transform: rotate(0);
        }
      }
    }
    #startMeBtn{
      opacity: 0.2;
    }
  }
}
