.gameInfoPage {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 38, 255);
  padding: 20px;
  p{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }

}
